.container {
    background-color: #dfdfdf;
    height: 100vh;
    position: relative;
  }
  .menu {
    margin: 0 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    width: '100px';
  }
  
  .content {
    height: "200px";
    margin: 0 10px 10px 10px;
  }
  
  .menuTitle {
    position: absolute;
    margin: 0 50px;
    // padding: 10px;
  }