.bgr {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../../images/bgr-login.jpeg");
  background-size: cover;
  color: white;
}

.form-card {
  background-color: rgb(0 0 0 / 0.2);
  box-shadow: 0.1rem 0.1rem 0.4rem 0.4rem rgb(0 0 0 / 0.6);
  width: max-content;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0 1rem 0 1rem;
}
.input-login {
  border: 1rem;
  border-color: white;
  outline: none;
  background-color: transparent;
  ::-ms-input-placeholder {
    color: white;
  }
  color: white;
}
@media (min-width: 750px) {
  .form-card {
    background-color: rgb(0 0 0 / 0.2);
    box-shadow: 0.1rem 0.1rem 0.4rem 0.4rem rgb(0 0 0 / 0.6);
    border-radius: 1rem;
    width: max-content;
    padding: 1rem 1rem 1rem 1rem;
  }
}
