.testUserComponent {
  display: flex;
  flex-direction: column;
  position: relative;
  .chartTitle,
  .statiscalComponent {
    display: flex;
    flex-direction: row;
  }
  .statiscalComponent {
    gap: 20px;
  }
  .chartTitle {
    justify-content: space-between;
  }
  .statisticalCard {
    width: 390px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 10px 0;
  }
  .statiscalItem {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
    align-items: center;
    width: 390px;
    height: 100px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .userNumber {
    display: flex;
    flex-direction: column;
  }

  .chartUserComponent {
    width: 1030px;
    height: 300px;
    padding: 10px;
    margin-left: 30px;
  }

  .tableComponent {
    width: 100%;
    margin: 10px;
  }
  .totalItem {
    position: absolute;
    max-width: fit-content;
    bottom: 30px;
    right: 100px;
  }
  .graph-container {
    max-width: 50%;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px;
  }
}
