.container {
    padding: 24px;
    width: 552px;
    height: 401px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.titlepre, .titleback {
    color: #fff;
    text-transform: uppercase;
}

.titlepre {
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
}

.titleback {
    font-weight: 500;
    font-size: 32px;
}

.groupinput {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    outline: none;
}

.btnLogin {
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    color: #fff;
    background: rgba(1, 103, 197, 1);
    cursor: pointer;
}

.readyaccont {
    margin-top: 25px;
    text-align: center;
    color: #fff;
}

.linkLogin {
    color: rgba(1, 103, 197, 1);
}