.boxNavUserManage {
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    background-color: #fff;
}
.titleUserManage {
    color: #000;
}
.navUserManage {
    width: 460px;
}

.DeviceColum {
    display: block;
}
.SettingColum {
    display: none;
}
@media screen and (max-width: 667px) {
    .EditColum {
        display: none;
    }
    .DeviceColum {
        display: block;
    }
    .SettingColum {
        display: block;
    }
    .ant-table-content {
        font-size: 12px;
    }
}
@media screen and (max-width: 415px) {
    .boxNavUserManage {
        flex-direction: column;
    }
    .titleUserManage {
        font-size: 12px;
    }
    .navUserManage {
        width: 100vw;
    }
    .navUserManage > li {
        font-size: 8px;
    }
    .ant-table-content {
        font-size: 10px;
    }
    .SettingColum {
        display: none;
    }
}
