$space_box: 10px;
.boxTagAndChart {
    margin-top: 10px;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.TagInf {
    margin-left: $space_box;
    width: 25vw;
    height: 100%;
}
.TagInfChild {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TagInfItem {
    height: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
}
.IconTagInfItem {
    margin-left: 20px;
    font-size: 40px;
}
.boxTitle {
    margin-left: $space_box;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.titleTagInfItem {
    font-size: 10px;
    color: rgb(43, 42, 41);
}
.dataTagInfItem {
    font-size: 25px;
    color: rgb(10, 39, 202);
}
.headerListUser {
    margin-top: 20px;
}
.boxChart {
    margin-left: $space_box;
    height: 100%;
    width: 73vw;
    background-color: aquamarine;
}

@media screen and (max-width: 667px) {
    .boxTagAndChart {
        height: 52vh;

        flex-direction: column;
    }
    .TagInf {
        margin-left: 0;
        height: 15vh;

        width: 100vw;
    }
    .TagInfChild {
        flex-direction: row;
        justify-content: space-between;
    }
    .TagInfItem {
        width: 30%;
        min-width: 150px;
        height: 100%;
    }
    .boxChart {
        margin-top: 10px;
        margin-left: 0;
        width: 100vw;
    }
}

@media screen and (max-width: 415px) {
    .TagInf {
        margin-top: 15px;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }
    .TagInf::-webkit-scrollbar {
        display: none;
    }
    .TagInfChild {
        min-width: 550px;
    }
    .TagInfItem {
        height: 10vh;
    }
}
