.image {
  padding: 2px;
  border-right: 1px solid #dadada;
  border-radius: 10px;
  object-fit: cover;
}
.content {
  margin-left: 10px;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
.property {
    font-style: italic;
}
