.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.image-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
}
.card {
  background-color: transparent;
}
.title {
  display: flex;
  align-items: center;
  .child-title {
    color: white;
  }
}
.input {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}
.login-form {
  margin-right: 100px;
  .button {
    width: 100%;
  }
}
