.bg {
    padding: 12px 30px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: url("../../images/homebg.jpg") top/cover no-repeat;
  }
  
  .cardLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 24px 23px;
    gap: 86px 0;
    max-width: 100%;
  }
  
  .mindPortal {
    width: fit-content;
    display: flex;
    height: min-content;
    align-items: baseline;
    max-width: max-content;
    align-self: flex-start;
  }
  
  .loginForm {
    width: 450px;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  :global(.ant-input::-webkit-input-placeholder) {
    color: white;
  }