.titleNavbar {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleList {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 30px 0;
}

.createModal {
  display: flex;
  font-size: 28px;
  color: blue;
}

/* Responsive */

@media screen and (max-width: 768px) {
  :global(.ant-tabs) {
    /* width: 400px !important; */
    padding: 0 20px !important;
    margin-left: -15px;
  }
  :global(.ant-tabs-nav-list) {
    margin: 60px 0 0 20px !important;
  }
}
