.container {
  height: 100%;
  position: relative;
  background-color: #dfdfdf;
}
.table {
  /* margin: 0 10px 10px 10px; */
  background-color: rgb(255, 255, 255);
}

.title {
  margin: 0 50px;
  text-transform: uppercase;
  position: absolute;
  top: -4px;
}

:global(.ant-tabs-nav-list) {
  margin-left: 210px;
  margin-top: 10px;
}

:global(.ant-tabs-nav) {
  margin: 0 !important;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    margin: 0;
  }
  :global(.ant-tabs-nav) {
    margin-left: -26px !important;
    margin-right: -26px !important;
    /* position: fixed !important; */
    bottom: 0 !important;
  }
  .tableDetails {
    position: fixed !important;
    bottom: 0 !important;
  }
}
