.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
}
.menu {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(57, 106, 252, 1) 100%,
    rgba(41, 72, 255, 1) 100%
  );
}
.logo {
  margin: 0;
  font-size: x-small;
  text-align: center;
  color: #fff;
}
.logo span {
  font-size: small;
  font-weight: bold;
}
.tabs-menu {
  width: max-content;
  padding: 0.3rem;
  background-color: aqua;
  position: absolute;
  bottom: 0px;
  z-index: 100;
}

@media (min-width: 750px) {
  .logo {
    font-size: x-large;
    text-align: center;
  }
  .logo span {
    font-size: xx-large;
    font-weight: bold;
  }
}

@media (min-width: 980px) {
}
