.titleNavbar {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleList {
  display: flex;
  gap: 10px;
  align-items: center;
}

.createModal {
  display: flex;
  font-size: 28px;
  color: blue;
}
